# Arquivo de exemplo para as variáveis de ambiente
# Copie este arquivo para .env e preencha com suas chaves da API

VITE_API_KEY="SUA_CHAVE_DE_API_DO_TMDB_VAI_AQUI"
VITE_API="https://api.themoviedb.org/3/movie/"
VITE_SEARCH="https://api.themoviedb.org/3/search/movie"
VITE_IMG="https://image.tmdb.org/t/p/w500/"